<!-- ogrenciekle.html -->
{% extends 'ogrenciana.html' %}
{% load static %}
{% block title %} OTS - Ekle {% endblock %}

{% block 'liste' %}
<center>
    <h3>Öğrenci ekleme</h3>
    Öğrenci ekleme burada görünecek.


    <br>
    <a href="/ogrenci">
        <img height="50" src="{% static 'img/geri.png' %}" alt="">
    </a>
   
</center>


<form method="post" class="form-horizontal mt-3">
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group col-md-offset-3">
            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
            <div class="col-sm-10">
                {{ field }}  <!-- Form alanı burada gösteriliyor -->
            </div>
        </div>
    {% endfor %}
    <!-- Diğer alanlar... -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 mt-4">
            <button type="submit" class="btn btn-primary">Gönder</button>
        </div>
    </div>
</form>
{% endblock %}
