h1{
    color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color: royalblue;
    font-family: 'Courier New', Courier, monospace;
}
a{
    text-decoration: none;


}
div {
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    width: 30%;
    box-shadow: 10px 10px 20px grey;
    margin: 10px;
    padding: 10px;
}
div:hover{
    background-color: blanchedalmond;
    /* border-style: double; */
    border-color: black;
}
